doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title}
  body(style='background-color:#FFFFFF;')
    div(style='\
    box-sizing: border-box;\
    background-color: #FFFFFF;\
    width: 100%;\
    height: 100%;\
    margin: 0 auto;\
    text-align: center;\
    padding: 80px 40px;\
    ')
      img(src=`${logoUrl}` style='width:100px;height:100px;')
      h1(style='\
      font-family: sans-serif;\
      font-size: 30px;\
      color: #232D42;\
      padding-bottom: 20px;\
      text-decoration: none;\
      ')
        | #{appName}
      h3(style='\
      font-family: sans-serif;\
      font-size: 20px;\
      color: #232D42;\
      text-decoration: none;\
      ')
        | #{text1},
      h3(style='\
      font-family: sans-serif;\
      font-size: 20px;\
      color: #232D42;\
      padding-bottom: 5px;\
      text-decoration: none;\
      ')
        | #{text2}
      p(style='\
      font-family: sans-serif;\
      font-size: 16px;\
      color: #232D42;\
      padding-bottom: 30px;\
      ')
        | #{description}
      if hasAction
        a(style='\
        font-family: sans-serif;\
        background-color: #3A57E8;\
        font-size: 16px;\
        color: #FFFFFF;\
        padding: 20px 60px;\
        text-transform: uppercase;\
        font-weight: bold;\
        border-radius: 4px;\
        text-decoration: none;\
        ' href=`${url}` target='_blank') #{buttonLabel}
